<!-- More details on the purpose of the AndroidManifest.xml file are
available at 
http://developer.android.com/guide/topics/manifest/manifest-intro.html .
Note that the Intro.java script is utilized FIRST, and the 
SelectDistro.java script is utilized later. 
-->
<!--  android:installLocation="auto" allows the user to move the app from
internal storage to the SD card. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jasonhsu.findyourfirstlinuxdistrobasic"
    android:versionCode="1"
    android:versionName="1.0" 
    android:installLocation="auto" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:name="com.jasonhsu.findyourfirstlinuxdistrobasic.Intro"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SelectDistro"/>
    </application>

</manifest>